header {
  padding: 1rem;
  border-bottom: black;
  background: linear-gradient(white, beige); }
  header .header__img {
    max-width: 60px; }
  header nav .enlaces {
    gap: 2rem;
    display: flex; }
    header nav .enlaces .enlaces__sub {
      font-size: 1.5em;
      color: black;
      font-family: 'Montserrat', sans-serif;
      padding: 1rem; }
      header nav .enlaces .enlaces__sub:hover {
        background-color: black;
        color: white;
        transition: background-color 2s;
        border-radius: 1rem; }
      header nav .enlaces .enlaces__sub .enlaces__sub--active {
        text-decoration-line: underline;
        font-size: 1.5em;
        color: black;
        font-family: 'Montserrat', sans-serif; }
