<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <picture class="header__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="header__img">
                </a>
            </picture>
            <ul class="enlaces">
                <li class="enlaces-item">
                    <a href="../index.html" class="enlaces__sub">Home</a>
                </li>
                <li class="enlaces-item">
                    <a href="./quienes somos.html" class="enlaces__sub">¿Quienes Somos?</a>
                </li>
                <li class="enlaces-item">
                    <a href="./e-shop.html" class="enlaces__sub">E-shop</a>
                </li>
                <li class="enlaces-item">
                    <a href="./contacto.html" class="enlaces__sub enlaces__sub--active">Contacto</a>
                </li> 
                <li class="enlaces-item">
                    <a href="./galeria.html" class="enlaces__sub">Galeria</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="contactanos">
        <form action="" method="post">
            <H2 class="titulo__contactanos">Contacto</H2>
            <p class="titulo__contactanos">Nombre de Usuario:</p> 
            <input type="text" name="Usuario" class="field" placeholder="Nombre de Usuario">
            <p class="titulo__contactanos">Correo Electronico:</p>
            <input type="email" name="Email" class="field" placeholder="Correo Electronico">
            <p class="titulo__contactanos">Telefono:</p>
            <input type="tel" name="Telefono" class="field" placeholder="Telefono">
            <p class="titulo__contactanos">Numero de Pedido:</p>
            <input type="text" name="Numero de Pedido" class="field" placeholder="Numero de Pedido"> 
            <p class="titulo__contactanos">Comentarios:</p>
            <textarea name="Comentario" class="field" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </form>
    </section>
    <footer>
        <nav class="navegacion">
            <picture class="footer__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="footer__img">
                </a>
            </picture>
        </nav>   
    </footer>
</body>