<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotunda | E-shop Otoño/Invierno 2022</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <picture class="header__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="header__img">
                </a>
            </picture>
            <ul class="enlaces">
                <li class="enlaces-item">
                    <a href="../index.html" class="enlaces__sub">Home</a>
                </li>
                <li class="enlaces-item">
                    <a href="./preguntas frecuentes.html" class="enlaces__sub">Preguntas frecuentes</a>
                </li>
                <li class="enlaces-item">
                    <a href="./e-shop.html" class="enlaces__sub enlaces__sub--active">E-shop</a>
                </li>
                <li class="enlaces-item">
                    <a href="./contacto.html" class="enlaces__sub">Contacto</a>
                </li> 
                <li class="enlaces-item">
                    <a href="./galeria.html" class="enlaces__sub">Galeria</a>
                </li>
            </ul>
        </nav>
    </header>
        <section class="carrete">
            <picture class="carrete__img__1">
                <img src="../img/Tienda 1.png" width="100%" alt="">
                <p>Campera Bomber</p>
                <p>$10.000</p>
            </picture>
            <picture class="carrete__img__2">
                <img src="../img/Tienda 2.png" width="100%" alt="">
                <p>Buzo Clásico</p>
                <p>$10.000</p>
            </picture>
            <picture class="carrete__img__3">
                <img src="../img/Tienda 3.png" width="100%" alt="">
                <p>Chaqueta Cuero</p>
                <p>$10.000</p>
            </picture>
            <picture class="carrete__img__4">
                <img src="../img/Tienda 4.png" width="100%" alt="">
                <p>Jean Ancho</p>
                <p>$10.000</p>
            </picture>
            <picture class="carrete__img__5">
                <img src="../img/Tienda 5.png" width="100%" alt="">
                <p>Remera Cuello V</p>
                <p>$10.000</p>
            </picture>
            <picture class="carrete__img__6">
                <img src="../img/Tienda 6.png" width="100%" alt="">
                <p>Sueter Tejido</p>
                <p>$10.000</p>
            </picture> 
        </section>
    <footer>
        <nav class="navegacion">
            <picture class="footer__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="footer__img">
                </a>
            </picture>
        </nav>   
    </footer>
</body>