<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <picture class="header__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="header__img">
                </a>
            </picture>
            <ul class="enlaces">
                <li class="enlaces-item">
                    <a href="../index.html" class="enlaces__sub">Home</a>
                </li>
                <li class="enlaces-item">
                    <a href="./preguntas frecuentes.html" class="enlaces__sub">Preguntas Frecuentes</a>
                </li>
                <li class="enlaces-item">
                    <a href="./e-shop.html" class="enlaces__sub">E-shop</a>
                </li>
                <li class="enlaces-item">
                    <a href="./contacto.html" class="enlaces__sub">Contacto</a>
                </li> 
                <li class="enlaces-item">
                    <a href="./galeria.html" class="enlaces__sub enlaces__sub--active">Galeria</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="grilla" class="carrete">
        <picture class="carrete__img__1">
            <img src="../img/Galeria 1.png" width="100%" alt="">
        </picture>
        <picture class="carrete__img__2">
            <img src="../img/Galeria 2.png" width="100%" alt="">
        </picture>
        <picture class="carrete__img__3">
            <img src="../img/Galeria 3.png" width="100%" alt="">
        </picture>
        <picture class="carrete__img__4">
            <img src="../img/Galeria 4.png" width="100%" alt="">
        </picture>
        <picture class="carrete__img__5">
            <img src="../img/Galeria 5.png" width="100%" alt="">
        </picture>
        <picture class="carrete__img__6">
            <img src="../img/Galeria 6.png" width="100%" alt="">
        </picture> 
    </section>
    <footer>
        <nav class="navegacion">
            <picture class="footer__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="footer__img">
                </a>
            </picture>
        </nav>   
    </footer>
</body> 