<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotunda | Preguntas frecuentes</title>
    <meta name="description" content="Rotunda, sacate cualquier duda que tengas.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <picture class="header__logo">
                <a href=".../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="header__img">
                </a>
            </picture>
            <ul class="enlaces">
                <li class="enlaces-item">
                    <a href="../index.html" class="enlaces__sub">Home</a>
                </li>
                <li class="enlaces-item">
                    <a href="./preguntas frecuentes.html" class="enlaces__sub enlaces__sub--active">Preguntas Frecuentes</a>
                </li>
                <li class="enlaces-item">
                    <a href="./e-shop.html" class="enlaces__sub">E-shop</a>
                </li>
                <li class="enlaces-item">
                    <a href="./contacto.html" class="enlaces__sub">Contacto</a>
                </li> 
                <li class="enlaces-item">
                    <a href="./galeria.html" class="enlaces__sub">Galeria</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <picture>
            <a href="../index.html">
                <img src="../img/preguntas frecuentes.png" alt="" class="preguntas__img">
            </a>
        </picture>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              ¿Cómo Compro?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Para realizar una compra primero necesitas registrarte en nuestro sitio web
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Formas de Pago
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                Servicio de distribución física a nivel nacional, atendiendo diversas modalidades de entregas, retiros y devoluciones. Disponemos de canales de seguimiento en vivo de pedido para que en todo momento sepas donde se encuentra.
                Los pedidos son despachados mediante el servicio de correo de la empresa Andreani.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Fotos de los Productos
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                Nuestro shop online presenta las características fundamentales de los artículos en las fichas de producto. No obstante, podría suceder que las imágenes, las fotografías y los colores de los artículos puestos a la venta no se correspondieran con los colores reales a causa del navegador de internet o de la pantalla utilizada.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Tablas de Talles
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                Para conocer la correspondencia de talla de Rotunda te recomendamos consultar la guía de talles disponible en cada una de las fichas de producto.

                IMPORTANTE: La guía de talles es orientativa para el producto que desees adquirir. No corresponde a las medidas originales del artículo.
              </div>
            </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              Método de Envio
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
                El pago del pedido en el shop online se efectúa mediante tarjeta de crédito o cupones de pago. Rotunda posee un sistema de cobranza a través de Mercado Pago.
                Podrás abonar con Tarjetas de Crédito y Tarjetas de Débito de todos los bancos. Contas con 3, 6 y 12 cuotas sin interés.
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                Cambios/Devoluciones
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                Pese al riguroso control que aplicamos a nuestros procesos de control de calidad y envío, excepcionalmente puede suceder que un artículo presente algún defecto. En tal caso te pedimos que nos envíes un correo a atencionalcliente@rotunda.com
                En el mail, indícanos la siguiente info:
                
                Número de pedido.
                Indicar si es cambio o devolución.
                Indicar producto a cambiar o devolver.
                Indicar motivo del cambio o devolución.
                Con esta información, nuestro departamento de atención al cliente se pondrá en contacto con vos para coordinar el cambio o la devolución del producto en el menor tiempo posible. El monto será devuelto a través de crédito en tienda o reintegro a través del medio de pago por el cual se haya efectuado la compra.
                
                POLÍTICA DE CAMBIOS/DEVOLUCIONES
                Esta política aplica para la web.
                
                Todos los productos que adquieras a través de www.rotunda.com pueden ser cambiados en un plazo máximo de treinta (30) días corridos contados a partir de la fecha de recepción del pedido . Se tomará el valor al que pagaste la prenda al momento de comprarla, independientemente que al momento del cambio tenga otro valor. El crédito en tienda o reintegro por tarjeta de crédito, se emitirán una vez recibida la prenda en nuestro depósito.
                
                Las prendas deben cumplir las siguientes condiciones:
                
                Los productos deberán encontrarse en el mismo estado en que fueron remitidos, sin haber sido utilizados, y con el embalaje y etiquetas originales en buen estado.
                Se denomina packaging original a cajas/fundas protectoras de zapato, bolsitas de bijou, bolsitas de plástico y adhesivos de protección de mallas y bikinis, garantías y folletos explicativos son considerados parte del producto.
                Productos personalizados y con ajustes (dobladillo, pinzas, etc.) no podrán ser cambiados o devueltos.
                Los productos no deben haber sido lavados, ni usados, no deberán tener olores ni manchas, sin marcas en la suela ni alteraciones hechas por el cliente.
                El cliente deberá efectuar el cambio o devolución de el/los productos a través del envío por Andreani, el envío del primer cambio es sin costo, luego será a cargo del cliente. Para ello deberás informar tal circunstancia a nuestro centro atención al cliente.
                Los gastos de envío informados cubren únicamente un cambio o devolución. Si fuera necesario algún movimiento más el gasto correrá a cargo del cliente.
                SI DEVUELVO UN ARTÍCULO ¿CUÁNDO OBTENGO EL REEMBOLSO?
                Una vez recibido el producto en nuestro depósito, se procederá a la verificación de la prenda de acuerdo a las condiciones anteriormente citadas; de cumplir con todas las condiciones, el reembolso se efectuará dentro de un plazo de 48 horas.
              </div>
            </div>
          </div>
        </div>
    </div>
    <footer>
      <nav class="navegacion__footer">
          <picture class="footer__logo">
              <a href="../index.html">
                  <img src="../img/ROTUNDA.png" alt="" class="footer__img">
              </a>
          </picture>
          <section class="redes">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-whatsapp"></a>
          </section>
          <section class="copy">
              <h3>REGISTRATE PARA CONOCER NUESTRAS NOVEDADES</h3>
              <p>Suscribite a nuestros newsletter para recibir novedades de nuestras
                  colecciones, promociones, eventos y proyectos especiales</p>
                  <input type="email" name="Email" class="field" placeholder="Correo Electronico">
              <p>Copyright © 2022 rotundasas. Todos los derechos reservados.</p>
          </section>
      </nav>
  </footer>
    <script src="../js/bootstrap.min.js"></script>    
</body>