<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navegacion">
            <picture class="header__logo">
                <a href=".../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="header__img">
                </a>
            </picture>
            <ul class="enlaces">
                <li class="enlaces-item">
                    <a href="../index.html" class="enlaces__sub">Home</a>
                </li>
                <li class="enlaces-item">
                    <a href="./quienes somos.html" class="enlaces__sub enlaces__sub--active">¿Quienes Somos?</a>
                </li>
                <li class="enlaces-item">
                    <a href="./e-shop.html" class="enlaces__sub">E-shop</a>
                </li>
                <li class="enlaces-item">
                    <a href="./contacto.html" class="enlaces__sub">Contacto</a>
                </li> 
                <li class="enlaces-item">
                    <a href="./galeria.html" class="enlaces__sub">Galeria</a>
                </li>
            </ul>
        </nav>
    </header>
        <section>
            <div class="historia">
                <h1>¿Quienes Somos?</h1>
                <p>Somos una empresa fundada en el año 2011, pero que se encuentra en la industria de la moda desde el año 2005. Desde nuestros comienzos nos dedicamos fabricación y comercialización de indumentaria femenina. Hoy en día realizamos ventas a mayoristas, como también minoristas en nuestras tiendas de ropa. Esto nos convierte no solo en una empresa, si no también en una familia.</p>
            </div>
            <picture class="video">
                <iframe class="video-nosotros" width="560" height="315" src="https://www.youtube.com/embed/rVWoiEnLFU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            </picture>
        </section>
    <footer>
        <nav class="navegacion">
            <picture class="footer__logo">
                <a href="../index.html">
                    <img src="../img/ROTUNDA.png" alt="" class="footer__img">
                </a>
            </picture>
        </nav>   
    </footer>    
</body>