.contactanos {
    padding: 2rem;

    form {
        width: 400px;
        margin: 0 auto;
        background-color: gray;
        padding: 2rem;
        font-family: 'Montserrat', sans-serif;
        border-radius: .5rem;
        font-size: 1.5em;
        text-align: center;
    }
}