.accordion-button {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: white;

    .accordion-body {
        font-size: 1.5em;
        font-family: 'Montserrat', sans-serif;
    }
}