

    /* Colors */
    $primary: #FFFFFF;
    $secondary: #87805E;
    $terciary: #000000;
    $nav-color: #f5f5dc;
   
    /* Spacings */
    $spacing-large: 2rem;
    $spacing-medium: 1.5rem;
    $spacing-small: 1rem;
    $spacing-xsmall: .5rem;

    /* Font-family */
    $font-principal: 'Montserrat', sans-serif;

    /* Font-size*/
    $text-large:  2em;
    $text-medium: 1.8em;
    $text-base: 1.5em;
    $text-small: 1.2em;
